In [16]:
import numpy as np
import pandas as pd

In [17]:
path = 'AIS\\'
path += 'AIS_2020_01_clean.csv'

df_AIS = pd.read_csv(path)
df_AIS[df_AIS['MMSI'] == 219265000]

,MMSI,UTC_Timestamp,Lat,Lon,SOG,COG,Heading,VesselName,VesselType,Status,Length,Width,Draft,Cargo,TransceiverClass
0,219265000,2020-01-01 19:37:46,42.24848,-70.96628,0.6,62.0,283.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,A
1,219265000,2020-01-01 20:08:17,42.26538,-70.93559,9.5,31.6,34.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,A
2,219265000,2020-01-01 20:38:56,42.31965,-70.87556,12.9,80.7,72.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,A
3,219265000,2020-01-01 21:09:16,42.37869,-70.87671,11.4,249.4,250.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,A
4,219265000,2020-01-01 21:39:55,42.33825,-70.94714,5.3,260.2,260.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20323,219265000,2020-01-03 23:22:20,41.18465,-68.05552,13.2,123.3,124.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,A
32644,219265000,2020-01-04 00:00:59,41.10316,-67.89808,13.5,125.0,125.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,A
32645,219265000,2020-01-04 00:36:10,41.03032,-67.75146,13.6,122.7,122.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,A
32646,219265000,2020-01-04 01:25:31,40.93134,-67.55189,12.9,123.2,120.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,A
32647,219265000,2020-01-04 02:26:20,40.81435,-67.31787,12.4,125.1,124.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,A